@model UserInfo
@{
    ViewBag.Title="Basvuru Detayi";
}
@{
    var className=@Model.WillAttend==true? "primary":"danger";
}

<main class="text-center">
    <h1 class="h4">Basvuru Detayi</h1>
    <p>
        <span class="badge text-bg-@className">
            @if(Model.WillAttend==true){
                <textarea>Katiliyor</textarea>
            }else{
                <textarea>Katilmiyor</textarea>
            }
        </span>
    </p>
    <p>Isim :@Model.Name </p>
    <p>Email :@Model.Email </p>
    <p>Phone :@Model.Phone </p>
    <a asp-controller="Meeting" asp-action="List" class="btn btn-outline-@className">Liste</a>

</main>